fastapi
uvicorn
google-genai
groq
langgraph
pypdf
pymupdf
pytesseract
Pillow
python-dotenv
chromadb
python-multipart
langchain
langchain-groq
langchain-google-genai
langchain-huggingface
sentence-transformers
docling
